## Intro to ML Applications Final

Please complete the answers below. If you mistype a variable name, you will recieve no credit for the associated question. Please check your work. 


**enter your name here**

"I pledge under the RPI honor code that I have completed this work on my own."

### Background (READ CAREFULLY)

This is a dataset about customer churn in the context of a bank.  

Customer churn is the percentage of customers that stopped using your company's product or service during a certain time frame. You can calculate churn rate by dividing the number of customers you lost during that time period -- say a quarter -- by the number of customers you had at the beginning of that time period.

The `Attrition_Flag` column is used to indicate customer churn. 

An `Attrited Customer` is a customer who left (churned) while an `Existing Customer` is one that remained.

In [ ]:
files = "wget https://www.dropbox.com/s/8lllzbaizyx9yz1/data_2020final.zip"
!wget $files && unzip -o data_2020final.zip

In [1]:
#Don't change anything here. Just run it. 
import pandas as pd
import numpy as np
np.random.seed(99)
#this is an handy option so you will be able to see all columns
pd.options.display.max_columns = None
# These are categorical variables
bc_cat= ['Attrition_Flag','Gender','Education_Level','Income_Category','Card_Category']
#These are numeric variables
bc_num= ['Customer_Age','Total_Relationship_Count', 'Months_Inactive_12_mon','Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal','Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio']
bc=pd.read_csv('part1.csv')
bc=bc.sort_values(by=['Attrition_Flag'])
bc

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,6,2,4,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189
1091,717640083,Attrited Customer,59,M,1,High School,Married,$60K - $80K,Blue,36,3,2,3,6705.0,0,6705.0,0.749,731,18,0.500,0.000
1090,708330858,Attrited Customer,57,M,3,Graduate,Married,$120K +,Blue,38,2,3,3,8249.0,1381,6868.0,0.798,678,11,0.833,0.167
1089,769137108,Attrited Customer,43,F,2,Post-Graduate,Married,Less than $40K,Blue,37,3,3,1,1438.3,0,1438.3,1.004,974,28,0.273,0.000
1088,718333983,Attrited Customer,57,M,4,Unknown,Divorced,$120K +,Blue,36,2,2,3,13694.0,2219,11475.0,1.078,9040,63,0.800,0.162
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4451,711005583,Existing Customer,37,M,3,High School,Single,$80K - $120K,Blue,24,1,2,3,3437.0,1064,2373.0,0.851,5110,76,0.854,0.310
4450,769709058,Existing Customer,60,M,1,Uneducated,Single,$60K - $80K,Blue,54,1,2,1,3618.0,972,2646.0,0.578,4228,63,0.465,0.269
4449,720893958,Existing Customer,49,F,4,Uneducated,Single,Less than $40K,Blue,36,1,3,3,1544.0,999,545.0,0.786,4215,53,1.120,0.647
4463,823566408,Existing Customer,44,F,3,Graduate,Married,Less than $40K,Blue,40,2,2,1,1438.3,0,1438.3,0.773,4625,93,0.938,0.000
10126,778912683,Existing Customer,51,F,2,Graduate,Single,Unknown,Blue,32,3,3,1,8365.0,1504,6861.0,0.679,4778,88,0.956,0.180

## Look at the Columns Above
Preprocess the data.  OK, in the midterm we did a lot of data preprocessing. Here we are going to give you a magic function to do it.

In [2]:
# Again. This is to get you started. Don't change anything. 
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline, make_pipeline


def pre_process_dataframe(df, numeric, categorical, missing=np.nan, missing_num='mean', missing_cat = 'most_frequent'):
    """This will use a data imputer to fill in missing values and standardize numeric features.
       Save this one for the future. Will save you a lot of time. 
    """
    #Create a data imputer for numeric values
    imp_num = SimpleImputer(missing_values=missing, strategy=missing_num)
    #Create a pipeline which imputes values and then usese the standard scaler.
    pipe_num = make_pipeline(imp_num ) # StandardScaler()
    #Create a different imputer for categorical values. 
    imp_cat = SimpleImputer(missing_values=missing, strategy=missing_cat)
    enc_cat=  OneHotEncoder(drop= 'first').fit(df[categorical])
    pipe_cat = make_pipeline(imp_cat,enc_cat)
    #Use column transformer to 
    preprocessor = make_column_transformer((pipe_cat, categorical),(pipe_num, numeric))
    #Get feature names
    cat_features=list(enc_cat.get_feature_names(categorical))
    #combine categorical features
    cols= cat_features+numeric
    #generate new dataframe 
    df=pd.DataFrame(preprocessor.fit_transform(df), columns=cols)
    df[cat_features]=df[cat_features].astype(int)
    return df

#This does your preprocessing. 
bc2 = pre_process_dataframe(bc, bc_num, bc_cat)
bc2

,Attrition_Flag_Existing Customer,Gender_M,Education_Level_Doctorate,Education_Level_Graduate,Education_Level_High School,Education_Level_Post-Graduate,Education_Level_Uneducated,Education_Level_Unknown,Income_Category_$40K - $60K,Income_Category_$60K - $80K,Income_Category_$80K - $120K,Income_Category_Less than $40K,Income_Category_Unknown,Card_Category_Gold,Card_Category_Platinum,Card_Category_Silver,Customer_Age,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,43.0,6.0,2.0,4.0,10388.0,1961.0,8427.0,0.703,10294.0,61.0,0.649,0.189
1,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,59.0,3.0,2.0,3.0,6705.0,0.0,6705.0,0.749,731.0,18.0,0.500,0.000
2,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,57.0,2.0,3.0,3.0,8249.0,1381.0,6868.0,0.798,678.0,11.0,0.833,0.167
3,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,43.0,3.0,3.0,1.0,1438.3,0.0,1438.3,1.004,974.0,28.0,0.273,0.000
4,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,57.0,2.0,2.0,3.0,13694.0,2219.0,11475.0,1.078,9040.0,63.0,0.800,0.162
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,1,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,37.0,1.0,2.0,3.0,3437.0,1064.0,2373.0,0.851,5110.0,76.0,0.854,0.310
10123,1,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,60.0,1.0,2.0,1.0,3618.0,972.0,2646.0,0.578,4228.0,63.0,0.465,0.269
10124,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,49.0,1.0,3.0,3.0,1544.0,999.0,545.0,0.786,4215.0,53.0,1.120,0.647
10125,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,44.0,2.0,2.0,1.0,1438.3,0.0,1438.3,0.773,4625.0,93.0,0.938,0.000
10126,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,51.0,3.0,3.0,1.0,8365.0,1504.0,6861.0,0.679,4778.0,88.0,0.956,0.180